MYSQL_VERSION=8.4
MYSQL_CONTAINER_NAME=clinic-mysql
MYSQL_HOST_PORT=7000
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=clinical_appointments
MYSQL_USER=clinic
MYSQL_PASSWORD=change_me
TZ=Africa/Cairo

API_CONTAINER_NAME=clinic-api
WEB_CONTAINER_NAME=clinic-web

WEB_HOST_PORT=8080

API_HOST_PORT=7001


JWT_SIGNING_KEY=

GOOGLE_CLIENT_ID=

GOOGLE_CLIENT_SECRET=
